html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, sans-serif;
}

header {
  width: 90%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1em;
}

#time-label {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#selected-time,
#any-time {
  display: block;
}

#any-time {
  color: #777;
  font-style: italic;
}

#map {
  position: relative;
  width: 90%;
  height: 80vh;
  margin-top: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map svg {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* --- shared color variables --- */
:root {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
}

/* --- circle coloring based on traffic flow --- */
#map svg circle {
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 0.8;
  pointer-events: auto;
}

/* --- legend --- */
.legend {
  display: flex;
  justify-content: center;
  gap: 2px;
  width: 90%;
  margin-block: 1em;
}

.legend > div {
  flex: 1;
  padding: 0.5em 1.2em;
  text-align: center;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background: var(--color);
}
